<div>
    <h1 class="title">Listado de productos en tiempo real</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Thumbnails</th>
                <th>Stock</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody id="listaProductos">
        </tbody>
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realtime.js"></script>